  #nomemp{
    text-align: center;
  }

  #img{
    display:block;
    margin:auto;

  }

  .grid {

    margin:0px;
    text-align: center;
    display:grid;
    grid-template-areas:"head head"
                        "root root"
                        "foot foot";
                      
  }

  .a {grid-area:head; background:cyan ;  border: white 5px solid;
  }

  .b { grid-area:menu; background:red;border: white 5px solid;
    height:500px;
    width: 400px;
   }

  .c {grid-area:main; background:green;border: white 5px solid;
    height:500px;
    width: 900px;
  }

  .d{grid-area:foot; background:orange;border: white 5px solid;
    height:150px;
  }


  .grid-two{
    grid-area:root;
    display:grid;
    grid-template-areas:"menu main";
    }
  
  #map {
    height: 100%;
  }
     
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {margin:0;font-family:Arial}

 
  boton {
    margin-left: 30px;
    display: block;
    width: 40px;
    height: 36px;
    padding: 10px;
    border-radius: 7px;
    background:cyan;
    color: cyan;
    cursor: pointer;
    position: relative;
  }

  .boton span {
    display: block;
    width: 40px;
    height: 4px;
    background: rgb(255, 255, 255);
    margin-top:7px;
    }

  label {
    cursor: pointer;
    }

  #menu-toggle {
     display: none;
    }

  #menu {
    display: none;
    padding:10px 0;
    }

  #menu li a {
    text-align: left;
    color: black;
    padding: 10px 0;
    display: block;
  }

  #menu-toggle:checked + #menu {
    display: block;
  }